<form action="/create_user" method="post">
  <input type="text" name="user[full_name]" placeholder="ie. Rachel Warbelow">
  <input type="text" name="user[email]" placeholder="ie. rachelwarbelow@gmail.com">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Create User">
</form>
